@import '../../styles/vars.less';

._local {
      :global {
            .header_wrap {
                  margin-top: 80px;
                  margin-bottom: 30px;

                  .header {
                        width: @width_index_body;

                        .name {
                              font-size: 36px;
                              font-weight: bold;
                        }
                  }
            }
      }
}